
:root {
    --sidebar-color: rgb(255, 255, 255);
    --text-color: rgb(75, 42, 184);
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}   
/*=======*/
.sidebar .Header_fa-bar_0j1K {
    font-size: 2rem;
    cursor: pointer;
}
.logo .highlight {
    color: var(--text-color);
}
.logo {
    transition: var(--tran-03);
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.country-code {
    position: absolute;
    top: -1px;
    right: -18px;
    font-size: 10px;
    font-weight: 100; 
}

/*=======*/
.sidebar {
    background: var(--sidebar-color);
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    position: fixed;
    padding: 10px 14px;
    box-shadow: 1px 1px 10px rgb(143, 122, 122);
    border-radius: 5px;
}
.sidebar header .header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
