<header id="navbar">
    <div class="container header-flex">
        <div class="logo">
            <span>CV<span class="highlight">Online</span></span>
                </div>
                <nav>
                    <a href="#">Trang chủ</a>
                    <a href="create-cv.html">Tạo CV</a>
                    <a href="#">Mẫu CV</a>
                    <a href="#">Hướng dẫn</a>
                    <a href="/Pages/login.html">Đăng nhập / Đăng ký</a>
                </nav>
        </div>
</header>