<header id="navbar">
    <div class="container header-flex">
        <div class="Header_fa-bar">
            <i class="fa fa-bars" id="sidebar-btn"></i>
        </div>
        <div class="logo">
            <a href="../index.html"><span>CV<span class="highlight">Online</span></span></a>
        </div>
            <nav>
                <div class="Header_open-home">
                <a href="../index.html" class="nav-home">Trang chủ</a>
                </div>
                <a href="get_in4.html" class="nav-hide">Tạo CV</a>
                <a href="../index.html#cv-section" class="nav-hide">Mẫu CV</a>
                <a href="/Pages/guide.html" class="nav-hide">Hướng dẫn</a>
                <div class="Header_global-auth">
                <a href="/Pages/login.html" class="nav-auth">Đăng nhập / Đăng ký</a>
                </div>
            </nav>
    </div>
</header>