<nav class="sidebar">
        <header>
            <div class="header-flex">
                <div class="Header_fa-bar_0j1K">
                    <i class="fa fa-bars" id="close-sidebar-btn"></i>
                </div>
                <div class="logo">
                    <span>CV<span class="highlight">Online</span></span>
                    <span class="country-code">VN</span>
                </div>
            </div>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class="icon fa-solid fa-house"></i>
                            <span class="text nav-text">Trang chủ</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class="icon fa-solid fa-file"></i>
                            <span class="text nav-text">Tạo CV</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class="icon fa-regular fa-folder-open"></i>
                            <span class="text nav-text">Mẫu CV</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class="icon fa-solid fa-info"></i>
                            <span class="text nav-text">Hướng dẫn</span>
                        </a>
                    </li>
                    <li class="nav-link auth-nav">
                        <a href="pages/login.html">
                            <i class="icon fa-solid fa-arrow-up-right-from-square"></i>
                            <span class="text nav-text auth-nav-text">Đăng nhập / Đăng ký</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
