<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../Styles/style-sidebar.css" rel="stylesheet">
    <link href="https://boxicons.com/icons/home?w=thin&s=rounded">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="sidebar">
        <header>
            <div class="header-flex">
                <div class="Header_fa-bar_0j1K">
                    <i class="fa fa-bars"></i>
                </div>
                <div class="logo">
                    <span>CV<span class="highlight">Online</span></span>
                    <span class="country-code">VN</span>
                </div>
            </div>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class="bxr bx-home" style="color:#000000;">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>